#complete-reg-bg {
    background-image: linear-gradient(to top, transparent, rgba(140, 73, 252, 0.3));
    top: 0;
    margin: auto;
    width: 70%;
    border: 2px none transparent;
    height: 100%;
    overflow: auto;
}

#complete-reg-container {
    width: 70%;
    margin: 5% auto 4%;
    background-color: transparent;
    padding: 1%;
}

#titoli-div, #settori-div, #tar-oraria-div, #descr-card-div, #descr-compl-div {
    margin-top: 10%;
}

.add-button {
    padding: 1% 5% 1%;
}

#settori-div {

}

#tar-oraria-div {

}

#giorni-disp-div {
    padding: 2%;
    width: 40%;
    margin: 7% auto 7%;
    text-align: left;
}


#descr-card-div {

}

#descr-compl-div {

}

.text-field {
    background-color: #3E3E3E;
    font-family: Bahnschrift, serif;
    font-size: 80%;
    color: white;
    padding: 2%;
    width: 45%;
    height: 4%;
    border: 2px solid #686868;
}

#descrizione-completa, #descrizione-card {
    font-size: 80%;
    width: 80%;
    height: 25%;
    margin: 1% auto 2%;
    border-radius: 15px;
}

#descrizione-completa {
    margin: 1% auto 10% auto;
}

#descrizione-completa:focus, #descrizione-card:focus {
    box-shadow: 0 0 25px rgba(190, 252, 255, 0.3);
    transition: box-shadow 0.5s;
}

#giorni-par {
    text-align: center;
}
#giorni-div {
    width: 95%;
    margin: auto;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 5%;
}

@media only screen and (max-width: 576px) {
    #complete-reg-container {
        margin: 40% auto 4%;
        padding: 1%;
        font-size: 70%;
    }
    #titoli-div, #settori-div, #tar-oraria-div, #descr-card-div, #descr-compl-div {
        width: 100%;
        margin-top: 20%;
    }
    #giorni-disp-div {
        width: 70%;
    }

}
@media only screen and (min-width: 577px) and (max-width: 900px) {
    #complete-reg-container {
        margin: 25% auto 4%;
        padding: 1%;
        font-size: 80%;
    }
    #titoli-div, #settori-div, #tar-oraria-div, #descr-card-div, #descr-compl-div {
        width: 100%;
        margin-top: 13%;
    }
    #giorni-disp-div {
        width: 40%;
    }
}
/*è da fixare in bassa alla navbar*/